<!DOCTYPE html>
<html>
<body>
	<h1>Time Package: </h1><br/>
	<h3 style="background-color:#C0C0C0;">Without Formatting: {{.}} </h3><br/>
	<h3 style="background-color:#DDFF33;">With Formatting: {{fDate .}} </h3>
</body>
</html>
