<!DOCTYPE html>
<html>
<body>
	<h1>Composition: </h1><br/>
	<h3>Name: {{.Name}}</h3>
	<h3>Age: {{.Age}}</h3>
	<h3>Greeting: {{.WelcomeMessage}}</h3>
	<h3>Double: {{.AgeDouble }} </h3>
	<h3>Add 10 yrs: {{.AgeDouble | .AddTenYears}}</h3>
</body>
</html>
